/*------------------------
Settings 
------------------------*/

:root {
  --grey: #f2f1eb;
  --beige: #eee7da;
  --l-green: #afc8ad;
  --green: #88ab8e;
  --d-green: #435f48;
  --headings: "Cormorant Garamond", serif;
  --paras: "Manrope", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

header {
  background-color: var(--green);
}

body {
  background-color: var(--grey);
}

footer {
  background-color: var(--green);
}

h1,
h2,
h3,
h4 {
  font-family: var(--headings);
}

p {
  font-family: var(--paras);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #f2f1eb;
}

button {
  cursor: pointer;
}

/*------------------------
Smooth Slide-In Animation (Left, Right and Up)
------------------------*/

.hide-animation-up {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(80%);
  transition: all 1s;
}

.show-animation-up {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

.hide-animation-right {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show-animation-right {
  opacity: 1;
  z-index: 1;
  filter: blur(0);
  transform: translateX(0);
}

.hide-animation-left {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(100%);
  transition: all 1s;
}

.show-animation-left {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/*------------------------
Navigation 
------------------------*/

nav {
  padding: 0.8rem;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 190px;
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.4rem 0rem;
}

.nav-menu {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 1.5rem 0rem 1.5rem 0rem;
}

.nav-item {
  font-family: var(--headings);
  text-shadow: 2px 4px 6px #4a5759;
}

.nav-item::after {
  content: "";
  width: 0%;
  height: 3px;
  background: #ab88a5;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-item:hover::after {
  width: 60%;
}

/*------------------------
Navigation Media Queries
------------------------*/

@media (min-width: 389px) {
  .nav-item {
    padding: 0rem 0.5rem;
  }
}

@media (min-width: 760px) {
  .logo {
    height: 210px;
    width: 200px;
  }
  .nav-menu {
    font-size: 18px;
  }
}

@media (min-width: 1000px) {
  .logo {
    height: 230px;
    width: 220px;
  }
}

@media (min-width: 1400px) {
  .logo {
    height: 250px;
    width: 240px;
  }
}

/*------------------------
Home About Section
------------------------*/

.about-section {
  padding: 3rem 10%;
}

.about-section h2 {
  font-size: 26px;
  padding: 0rem 0rem 0.8rem 0rem;
  font-weight: 500;
}

.about-section p {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.about-button {
  background-color: var(--green);
  color: var(--grey);
  font-family: var(--paras);
  font-weight: 700;
  margin: 2rem 0rem;
  padding: 6px 32px;
  border: 1px solid var(--green);
  letter-spacing: 0.5px;
  box-shadow: 2px 3px 3px var(--d-green);
}

.about-button:hover {
  box-shadow: none;
  transition: all 0.5s;
  font-size: 16px;
}

/*------------------------
Home About Section Media Queries
------------------------*/

@media (min-width: 760px) {
  .about-section {
    padding: 5rem 14%;
  }
  .about-button {
    padding: 10px 38px;
  }
}

@media (min-width: 1000px) {
  .about-section h2 {
    font-size: 34px;
  }
  .about-section p {
    font-size: 16px;
  }
  .about-button {
    padding: 12px 40px;
  }
}

@media (min-width: 1400px) {
  .about-section {
    padding: 7rem 16%;
  }
  .about-section h2 {
    font-size: 36px;
  }
  .about-section p {
    font-size: 18px;
  }
  .about-button {
    padding: 15px 42px;
  }
}

/*------------------------
Home Authors Section
------------------------*/

.authors-section {
  padding: 3rem 10%;
}

.authors-section h2 {
  font-size: 26px;
  padding: 0rem 0rem 0.8rem 0rem;
  font-weight: 500;
}

.authors-text {
  padding: 0rem 0rem 3rem 0rem;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.home-book-covers {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center;
}

.home-book-covers img {
  border: 2px solid #435f48;
}

.book-text {
  background-color: var(--beige);
  padding: 0.9rem 1.5rem 0.9rem 1.5rem;
  margin: 25px 0px 55px 0px;
  font-size: 10px;
  border-radius: 35px;
  border: 2px solid var(--d-green);
}

.home-book-cover4,
.book-text4 {
  display: none;
}

.home-book-cover4 p {
  font-size: 11px;
}

.authors-button {
  background-color: var(--green);
  color: var(--grey);
  font-family: var(--paras);
  font-weight: 700;
  padding: 6px 32px;
  border: 1px solid var(--green);
  letter-spacing: 0.5px;
  box-shadow: 2px 3px 3px var(--d-green);
}

.authors-button:hover {
  box-shadow: none;
  transition: all 0.5s;
  font-size: 16px;
}

.authors-section a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/*------------------------
Home Authors Section Media Queries
------------------------*/

@media (min-width: 760px) {
  .authors-section {
    padding: 5rem 14%;
  }
  .home-book-covers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px;
  }
  .book-text {
    padding: 3rem 2.5rem 3rem 2.5rem;
    margin: 25px 0px 75px 0px;
    font-size: 11px;
    border-radius: 60px;
  }
  .home-book-cover4,
  .book-text4 {
    display: block;
  }
  .authors-button {
    padding: 10px 38px;
    margin: 50px;
  }
}

@media (min-width: 1000px) {
  .authors-section h2 {
    font-size: 34px;
  }
  .authors-text {
    font-size: 16px;
  }
  .authors-button {
    padding: 12px 40px;
  }
  .book-text {
    padding: 3rem 2.5rem 3rem 2.5rem;
    margin: 25px 0px 75px 0px;
    font-size: 13px;
    border-radius: 60px;
    opacity: 30%;
  }
  .book-text:hover {
    transition: 0.7s linear;
    opacity: 100%;
  }
}

@media (min-width: 1250px) {
  .home-book-covers {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media (min-width: 1400px) {
  .authors-section {
    padding: 7rem 16%;
  }
  .authors-section h2 {
    font-size: 36px;
  }
  .authors-text {
    font-size: 18px;
    padding: 0rem 0rem 5rem 0rem;
  }
  .home-book-covers {
    gap: 50px;
  }
  .book-text {
    padding: 4rem 3.5rem 4rem 3.5rem;
    font-size: 15px;
    border-radius: 60px;
  }
  .authors-button {
    padding: 15px 42px;
  }
}

/*------------------------
Home Submissions Section
------------------------*/

.home-submissions-section {
  margin: 3rem 0rem;
  padding: 3rem 5%;
  background-color: var(--d-green);
}

.home-submissions-section h2 {
  font-size: 26px;
  color: var(--beige);
  padding: 0rem 0rem 0.8rem 0rem;
  font-weight: 500;
  text-align: center;
}

.home-submissions-section p {
  color: var(--beige);
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-align: center;
}

.home-submissions-section button {
  background-color: var(--green);
  color: var(--grey);
  font-family: var(--paras);
  font-weight: 700;
  padding: 6px 22px;
  border: 1px solid var(--green);
  letter-spacing: 0.5px;
}

.home-submissions-section button:hover {
  transition: all 0.5s;
  font-size: 16px;
}

.home-submissions-section a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

/*------------------------
Home Submissions Section Media Queries
------------------------*/

@media (min-width: 760px) {
  .home-submissions-section {
    padding: 3rem 14%;
  }
  .home-submissions-section button {
    padding: 10px 38px;
  }
}

@media (min-width: 1000px) {
  .home-submissions-section h2 {
    font-size: 34px;
  }
  .home-submissions-section p {
    font-size: 14px;
  }
  .home-submissions-section button {
    padding: 12px 40px;
  }
}

@media (min-width: 1400px) {
  .home-submissions-section {
    padding: 5rem 16%;
  }
  .home-submissions-section h2 {
    font-size: 36px;
  }
  .home-submissions-section p {
    font-size: 16px;
  }
  .home-submissions-section button {
    padding: 15px 42px;
  }
}

/*------------------------
Text area - submission
------------------------*/
fieldset {
  border: 2px solid var(--l-green);
  margin: 2em;
  padding: 1em 2em;
  min-width: 200px;
}

label {
  display: flex;
  margin-top: 1em;
}

label:first-of-type {
  margin-top: 0;
}

input {
  padding: 0.5em;
  border: solid var(--l-green);
}

textarea {
  min-height: 8em;
  min-width: 100%;
  padding: 0.5em;
  border: solid var(--l-green);
}

/*------------------------
Home Agents Section
------------------------*/
.agents-section {
  padding: 3rem 10%;
}

.agents-section h2 {
  font-size: 26px;
  padding: 0rem 0rem 0.8rem 0rem;
  font-weight: 500;
}

.agents-text {
  padding: 0rem 0rem 3rem 0rem;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.home-agent-profiles h4 {
  padding: 16px 0px;
  font-size: 15px;
  border-bottom: 1px solid #435f48;
}

.home-agent-profiles h3 {
  padding: 22px 0px;
  font-size: 32px;
  color: var(--d-green);
}

.agent-about-text p {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.agents-section img {
  width: 300px;
  height: 400px;
  margin-top: 50px;
}

.agents-button {
  background-color: var(--green);
  color: var(--grey);
  font-family: var(--paras);
  font-weight: 700;
  padding: 6px 32px;
  border: 1px solid var(--green);
  letter-spacing: 0.5px;
  box-shadow: 2px 3px 3px var(--d-green);
}

.agents-button:hover {
  box-shadow: none;
  transition: all 0.5s;
  font-size: 16px;
}

.agents-section a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0px 60px 0px;
}

.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--headings);
  font-size: 21px;
  padding: 0rem 0rem 3rem 0rem;
  font-weight: 500;
  color: var(--d-green);
}

/*------------------------
Home Agents Section Media Queries
------------------------*/

@media (min-width: 760px) {
  .agents-section {
    padding: 5rem 14%;
  }
  .agents-button {
    padding: 10px 38px;
  }
  .quote {
    font-size: 26px;
  }
}

@media (min-width: 1000px) {
  .agents-section h2 {
    font-size: 34px;
  }
  .agents-text {
    font-size: 16px;
  }
  .agents-button {
    padding: 12px 40px;
  }
  .quote {
    font-size: 29px;
  }
}

@media (min-width: 1400px) {
  .agents-section {
    padding: 7rem 16%;
  }
  .agents-section h2 {
    font-size: 36px;
  }
  .agents-section img {
    width: 350px;
    height: 500px;
    margin-top: 80px;
  }
  .agents-section h3 {
    font-size: 38px;
  }
  .agents-text {
    font-size: 18px;
  }
  .agents-button {
    padding: 15px 42px;
  }
  .quote {
    font-size: 32px;
  }
}

/*------------------------
Footer / Contact Section
------------------------*/

.contact-section {
  padding: 3rem 10%;
  margin-top: 2rem;
  font-family: var(--paras);
}

.footer-text {
  color: var(--beige);
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 2.5rem;
}

.social-link {
  color: var(--beige);
  padding: 8px;
  border-radius: 250px;
  font-size: 32px;
}

.social-link a {
  transition: all 0.5s;
}

.social-link a:hover {
  opacity: 0.5;
}

.contact-details {
  color: var(--beige);
}

.contact-details h4 {
  font-size: 22px;
  border-bottom: 2px solid var(--d-green);
  padding: 2rem 0rem 0.5rem 0rem;
  margin: 16px 0px;
}

.contact-details h3 {
  font-size: 19px;
  margin: 16px 0px;
}

.email,
.phone,
.address {
  font-size: 12px;
  padding-bottom: 1rem;
}

.footer-bottom {
  background-color: var(--d-green);
  color: var(--beige);
  padding: 1rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

/*------------------------
Footer / Contact Section Media Queries
------------------------*/

@media (min-width: 760px) {
  .contact-section {
    padding: 3rem 14%;
  }
}

@media (min-width: 1000px) {
  .contact-section h4 {
    font-size: 26px;
  }
  .email,
  .phone,
  .address {
    font-size: 14px;
  }
}

@media (min-width: 1400px) {
  .contact-section {
    padding: 4rem 16%;
  }
  .contact-section h4 {
    font-size: 30px;
  }
  .about-section p {
    font-size: 18px;
  }
  .about-button {
    padding: 15px 42px;
  }
}

/*------------------------
About Page
------------------------*/

.about-text h3 {
  font-size: 20px;
  padding: 4rem 0rem 0.8rem 0rem;
  font-weight: 500;
}

/*------------------------
About Page Media Queries
------------------------*/

@media (min-width: 1000px) {
  .about-text h3 {
    font-size: 28px;
  }
}

@media (min-width: 1400px) {
  .about-text h3 {
    font-size: 30px;
  }
}

/*------------------------
Authors Page
------------------------*/

.authors-book-text {
  background-color: var(--beige);
  padding: 0.9rem 1.5rem 0.9rem 1.5rem;
  margin: 25px 0px 55px 0px;
  font-size: 10px;
  border-radius: 35px;
  border: 2px solid var(--d-green);
}

.authors-submit-info {
  margin: 50px 0px 100px 0px;
  background-color: var(--d-green);
  border-radius: 10px;
  text-align: center;
}

.authors-submit-text {
  font-size: 22px;
  color: var(--beige);
  font-weight: 500;
  text-align: center;
  padding-top: 1rem;
}

.authors-submit-button {
  background-color: var(--green);
  color: var(--grey);
  font-family: var(--paras);
  font-weight: 700;
  padding: 6px 22px;
  border: 1px solid var(--green);
  letter-spacing: 0.5px;
  box-shadow: 2px 3px 3px var(--d-green);
  margin-bottom: 1rem;
}

.authors-submit-button:hover {
  box-shadow: none;
  transition: all 0.5s;
  font-size: 16px;
}

/*------------------------
Authors Page Media Queries
------------------------*/

@media (min-width: 760px) {
  .authors-book-text {
    padding: 3rem 2.5rem 3rem 2.5rem;
    margin: 25px 0px 75px 0px;
    font-size: 11px;
    border-radius: 60px;
  }
  .authors-submit-info {
    padding: 1.5rem 0rem;
    margin: 100px 0px 150px 0px;
  }
  .authors-submit-text {
    font-size: 26px;
  }
  .authors-submit-button {
    padding: 10px 38px;
  }
}

@media (min-width: 1000px) {
  .authors-book-text {
    padding: 3rem 2.5rem 3rem 2.5rem;
    margin: 25px 0px 75px 0px;
    font-size: 13px;
    border-radius: 60px;
    opacity: 30%;
  }
  .authors-book-text:hover {
    transition: 0.7s linear;
    opacity: 100%;
  }
  .authors-submit-text {
    font-size: 28px;
  }
  .authors-submit-button {
    padding: 12px 40px;
  }
}

@media (min-width: 1400px) {
  .authors-book-text {
    padding: 4rem 3.5rem 4rem 3.5rem;
    font-size: 15px;
    border-radius: 60px;
  }
  .authors-submit-text {
    font-size: 30px;
  }
  .authors-submit-button {
    padding: 15px 42px;
  }
}